/* Logo */
.logo-header {
    width: 86px;
    padding-left: 1rem;
}

/* .logo-animation {
    animation-name: rotate-inifinite;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-timing-function: linear;
} */

@keyframes rotate-inifinite {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* End logo */

/* End logo */

.font-serif {
    font-family: "Source Serif 4", serif;
}

.img-circle {
    border-radius: 50px;
}

/* Navbar */
#navbar {
    background: linear-gradient(180deg, rgb(0 0 0/77%), rgb(0 0 0/8%));
}

.nav-link {
    padding: 8px 33px !important;
}
.nav-item {
    margin-left: 25px;
}

.nav-item.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-item:hover {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 12px;
    transition: 0.3s all;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cline stroke='white' stroke-width='2' stroke-linecap='round' x1='3' x2='27' y1='6' y2='6'/%3E%3Cline stroke='white' stroke-width='2' stroke-linecap='round' x1='3' x2='27' y1='14' y2='14'/%3E%3Cline stroke='white' stroke-width='2' stroke-linecap='round' x1='3' x2='27' y1='22' y2='22'/%3E%3C/svg%3E") !important;
}

/* End navbar */

.a-grey {
    color: rgb(148, 149, 150) !important;
    text-decoration: none !important;
}

.a-grey:hover {
    color: #ffffff !important;
}

.pb-5 {
    padding-bottom: 5px !important;
}

.mt-content {
    margin-top: 80px;
}

.mb-content {
    margin-bottom: 80px;
}

.mt-logo-footer {
    margin-top: 33px;
}

.text-bold {
    font-weight: bold;
}

.img-mb {
    margin-bottom: 40px;
    border-radius: 5px;
}

.color-footer {
    background-color: #013c4d;
}

.footer-nav li {
    display: block;
    margin-bottom: 10px;
}

.mt-footer {
    margin-top: 10px;
}

.fa-facebook-square,
.fa-github-square,
.fa-instagram-square,
.fa-linkedin {
    font-size: 32px;
    color: #ffffff;
}

.mt-footer-column {
    margin-top: 40px;
}

.height-footer {
    line-height: 44px;
}

.mr-social-footer {
    margin-right: 50px;
}
/* Navbar on screen width < 992px */
@media screen and (max-width: 992px) {
    .navbar {
        padding: 7px 12px;
    }

    .nav-item {
        margin: 0 7px;
        padding: 0;
    }

    .nav-item.active {
        background-color: initial;
    }

    .navbar-light .navbar-nav .active > .nav-link {
        color: white;
    }

    .navbar-light .navbar-nav .nav-item:hover {
        background-color: initial;
    }
}

.blog-section {
    padding: 60px 0;
}

.pl-10 {
    padding-left: 10px;
}

.blog-section .section-title {
    margin-bottom: 30px;
}

.blog-section .blog-card {
    margin-bottom: 60px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid rgba(96, 101, 104, 0.15);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.blog-section .blog-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blog-section .blog-card img {
    width: 282px;
    height: 364px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-control-prev-icon {
    margin-left: -120px;
}

.carousel-control-next-icon {
    margin-right: -120px;
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
    width: 40px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: black;
}

.carousel-indicators li {
    background-color: black !important;
    border-color: black !important;
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    border: 0 !important;
    display: inline-block !important;
    margin: 3px !important;
    padding: 0 !important;
}

.carousel-indicators .active {
    background-color: black;
    border-color: black;
}

@media (max-width: 767px) {
    #blog-carousel .carousel-inner .carousel-item .row .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .carousel-control-prev-icon {
        margin-left: 0px;
    }

    .carousel-control-next-icon {
        margin-right: 0px;
    }
}

.tag {
    background-image: linear-gradient(90deg, #3a6771 0%, #7f9a9f 100%);
    border-radius: 2px;
    font-size: 10px;
    padding: 3px;
    margin-right: 10px;
}

.tag:hover {
    background-image: linear-gradient(90deg, #3a6771 0%, #7f9a9f 100%);
    opacity: 0.8;
}

.blog-tag {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    font-size: 10px;
}

.blog-name {
    line-height: 36px;
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
}

.divider-blog-info {
    margin-top: 25px;
    padding-bottom: 5px;
    clear: both;
    border-top: 1px solid rgba(96, 101, 104, 0.15);
}

.blog-info {
    font-size: 14px;
    color: #606568;
    margin-bottom: 10px;
    padding: 15px;
    font-family: "Source Serif 4", serif;
}

.blog-share {
    float: right;
    margin-right: 15px;
    font-size: 14px;
    color: #606568;
}

.btn-blog {
    align-items: center;
    border-color: #013c4d;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #232323;
    display: inline-flex;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.16px;
    line-height: 18.56px;
    margin: 0px 0px 20px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    width: 20%;
    height: 56px;
}

.btn-blog:hover {
    background-color: #013c4d;
    color: #fbfcf8;
}

@media (max-width: 768px) {
    .btn-blog {
        width: 55%;
    }
}
