.header-container {
    background-image: url("../img/service-main.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 350px;
}

.text-container {
    margin-top: 300px;
    margin-left: 100px;
}

.mt-content {
    margin-top: 80px;
}

.sub-title {
    color: #013c4d;
    font-size: 14px;
}

.main-title {
    font-size: 42px;
}

.w-70 {
    width: 70% !important;
    margin-top: 20px !important;
}

.lh-30 {
    line-height: 30px;
}

.tab-1 {
    top: 14%;
    left: 48%;
}

.tab-2 {
    top: 11%;
    left: 48%;
}

.tab-3 {
    left: 48%;
    top: 14%;
}

.pt-22 {
    padding-top: 22px;
}

.pd-10 {
    padding-right: 10px;
}

.tab-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.tab-item {
    flex: 0 0 calc(33.33% - 20px);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-image 0.3s ease;
    cursor: pointer;
}

.tab-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    transition: opacity 0.3s ease;
}

.tab-title {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    opacity: 1;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    width: 80%;
    z-index: 1;
}

.tab-desc {
    position: absolute;
    top: 50%;
    left: 47%;
    line-height: 30px;
    transform: translate(-50%, -50%);
    padding: 15px;
    color: #fff;
    width: 80%;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-family: "Source Serif 4", serif;
}

.tab-item:hover .tab-desc {
    opacity: 1;
    visibility: visible;
}

.tab-item:hover img {
    opacity: 0;
}

.tab-item:hover {
    background-image: linear-gradient(90deg, #3a6771 0%, #7f9a9f 100%);
}

.btn-contact {
    align-items: center;
    background-color: #013c4d;
    border-color: #013c4d;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #fbfcf8;
    display: inline-flex;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.16px;
    line-height: 18.56px;
    margin: 0px 0px 20px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    width: 33%;
    height: 56px;
}

.btn-contact:hover {
    background-color: #fbfcf8;
    color: #013c4d;
}

@media (max-width: 768px) {
    .tab-row {
        justify-content: center;
    }

    .tab-item {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .tab-1 {
        top: 22%;
    }

    .tab-3 {
        top: 20%;
    }

    .tab-desc {
        top: 60%;
    }

    .btn-contact {
        width: 100% !important;
    }

    .pt-22 {
        padding-top: 0px;
    }

    .col-md-3 {
        margin-bottom: 10px;
    }

    .header-container {
        padding-bottom: 235px;
    }
}


.accordion-button {
    background-color: #f0f0f0;
    font-weight: 700;
}

.accordion-button:hover {
    color: #013c4d;
}

.accordion-body {
    font-weight: 700;
    color: #013c4d;
}

.accordion-button:not(.collapsed) {
    background-color: #f0f0f0;
    color: #013c4d;
}

.accordion-item {
    margin-bottom: 10px;
    border-radius: 8px; 
    overflow: hidden; 
    border: 1px solid #fff; /* Change the border color to #fff (white) */
}

.accordion-button {
    border-radius: 8px; 
}

.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.reason-section {
    background-color: #2d2d2d;
    padding: 60px 0;
}

.reason-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.reason-card-content {
    flex: 1;
}

.fa-lightbulb,
.fa-book-open,
.fa-eye,
.fa-search {
    font-size: 50px;
    padding-bottom: 15px;
}


